html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.background {
    background-color: #37474F;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.content {
    width: 800px;
}

#brand {
    color: #FFFFFF;
    padding-top: 40px;
    padding-bottom: 20px;
}

.list-group {
    margin-top: 25px;
    padding-bottom: 40px;
}

.strikethrough {
    text-decoration: line-through;
}

.notEditableItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}